* {
  margin: 0;
}

@font-face {
  font-family: "Suisse-Mono";
  src: url("font/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Suisse";
  src: url("font/SuisseIntl-SemiBold.otf") format("opentype");
}

html, body {
  font-family: "Suisse-Mono";
  font-size: 10px;
  text-transform: uppercase;
}

canvas {
  border-radius: 12px;
}

h1 {
  font-family: 'Suisse-Mono';
  font-size: 10px;
  /* margin-bottom: 50px; */
  font-weight: normal;
  position: fixed;
  bottom: 20px;;
}

.three{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.window {
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  width: 230px;
  z-index: 10;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(228, 228, 228);
  max-height: calc(100vh - 40px);
  overflow: scroll;
}


button{
  border: 1px solid #000000;
  padding: 5px;
  font-family: "Suisse";
  font-size: 10px;
  text-transform: uppercase;
}

button:hover{
  color: red;
}

output {
  float: right;
  margin-right: 20px;
  color: #999;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 2px solid #f0f0f0;
  cursor: pointer;
  height: 30px;
  padding: 0 !important;
  width: 100px;
  border-radius: 2px;
  margin: 10px 10px 0 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 2px;
}

label {
  display: block;
  margin-bottom: 5px;
  float:left;
}

label:last-of-type {
  float: none;
}

input[type=text] {
  width: 200px;
  height: 20px;
  padding-left: 5px;
}

input[type=range] {
  width: 210px;
  margin: 10px 0 30px 0 !important;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #f0f0f0;
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: 0px;
  width: 1px;
  height: 8px;
  background: #000;
  border: 0;
  /* border-radius: 10px; */
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  background: #f0f0f0;
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #9c9c9c;
  border: 0;
  border-radius: 20px;
}

input[type=range]::-ms-fill-upper {
  background: #f0f0f0;
  border: 0;
  border-radius: 20px;
}

input[type=range]::-ms-thumb {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #f0f0f0;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=checkbox]{
  border-radius: 0;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  -webkit-appearance: none;
}

input[type=checkbox]:checked {
	background-color: #000000;
}

input {
  display: block;
  margin-bottom: 20px !important;
  clear: both;
}

.w-full{
  width: 100%;
}

.inputs{
  padding-top: 20px;
}

